@media screen and (max-width:750px) {
    header{
        flex-direction: column;
        margin: 0 auto;
    }

    h1{
        text-align: center;
        font-size: 50px;
        font-weight: 500;
    }
    h2{
        font-size: 50px;
    }
    li{
        max-width: 100%;
        margin: 2px;
        font-size: 17;
    }
    #inscreva-se-bt{
        margin: 15px;
        font-size: 20px;
    }
    main{
        flex-direction: column;
    }
    form{
        height: 100%;
        width: 100%
    }
    form [type="submit"]{
        width: 80%;
        background-color: rgb(132,14,201);
        color: white;
        font-size: 15px;
        font-weight: 600;
        margin-left: 35px;
    
    }
    img{
        margin-top: 20px;
        max-width: 530px;
        margin-left: 20px;
    }

}